.footer {
	padding: 50px 0 41px 0;
	@include media-breakpoint-up(md){
		padding: 41px 0 50px 0;
	}

	margin-top: auto;
	background-color: $body-color;
	color: $white;
	&__container{
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media-breakpoint-up(md){
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__logo{
		flex-shrink: 0;
		width: 120px;
		margin-bottom: 22px;
		@include media-breakpoint-up(md){
			width: 150px;
			margin-bottom: 0;
		}

		img{
			width: 100%;
			height: auto;
		}

		order: 2;
		@include media-breakpoint-up(md){
			order: 0;
		}
	}
	&__copy-right{
		text-align: center;
		color: rgba($white, .5);
		font-size: 13px;

		@include media-breakpoint-up(md){
			padding-top: 8px;
		}
		@include media-breakpoint-only(md){
			margin-left: 16px;
		}

		@include media-breakpoint-up(xxl){
			padding-top: 12px;
		}

		order: 3;
		@include media-breakpoint-up(md){
			order: 0;
		}
	}
	&__contacts{
		flex-shrink: 0;
		display: flex;

		justify-content: center;
		align-items: stretch;

		order: 1;
		margin-bottom: 30px;
		@include media-breakpoint-up(md){
			margin-bottom: 0;
			margin-top: 7px;
			order: 0;
		}
	}
	&__contact-item{
		width: 45px;
		height: 45px;
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}


		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			@include mt();
			font-size: 19px;
			color: $white;
		}

		@include mt();
		background-color: transparent;
		border: 1px solid rgba($white, .15);
		&:hover{
			//.icon{
			//	color: $black;
			//}
			border: 1px solid $white;
		}
		&:active{
			border: 1px solid rgba($white, .15);
		}
	}
	//
	&__{}
	&__{}
}
