mixin modal()
	//  start modals
	+b.modal-win(id="modal-callback" class=" " style="display: none" )
		+form-wrap
			+e.title.h2 Заказать звонок
			p.after-headline
				| Оставьте свои данные и мы
				|
				br.d-md-none
				| свяжемся с вами
			+e.inputs
				+input("Ваш телефон", 'tel')(required)
				+input("Ваше Имя", 'text', undefined, 'name')(required)
			+e.BUTTON.btn(type="submit") Отправить
	+b.modal-win(id="modal-look" class=" " style="display: none" )
		+form-wrap
			+e.title.h2
				| Хотите посмотреть
				| этот дом?
			p.after-headline
				| Оставьте свои данные и мы
				|
				br.d-md-none
				| свяжемся с вами
			+e.inputs
				+input("Ваш телефон", 'tel')(required)
				+input("Ваше Имя", 'text', undefined, 'name')(required)
			+e.BUTTON.btn(type="submit") Отправить
	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+form-wrap
			+e.title--sm.h2
				| Заявка успешно
				| отправлена
			p.after-headline
				| Спасибо, мы скоро свяжемся с вами
				|
				br.d-md-none
				| для уточнения деталей
			+e.look-others(href='#') Посмотреть другие дома
	// #modal-call
	
	// end modals