.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x); 
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	//opacity: 0.7;
}
html{
	
	// overflow-x: hidden;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	overflow-y: auto;
	&.fixed{
		overflow: hidden;
	}
}
body,
html {
	
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	min-width: 320px;  

	position: relative; 
	@include mt;

	&.loaded_hiding {

		opacity: 0;
		pointer-events: none;
	}

	.loaded {
		pointer-events: visible;
		opacity: 1;
	}
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}
	&.fancybox-active{
		overflow: hidden;

	}
	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}
// .main-wrapper { 
// 	// overflow-x: hidden;
// 	// overflow: scroll;
// 	// width: 100%; 
// 	  height: 100vh;
// 		height: calc(var(--vh, 1vh) * 100);
	 
	 
// }
 

 



.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB); 
}

.section-title { 
	padding-bottom: var(--sTPB);

	& > *:last-child{
		margin-bottom: 0;
	}
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--sm {
	@include roww(10)
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1); 
	@include mt;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	@include media-breakpoint-up(lg) {}


	// --swiperArrowPosition: -15px; 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture { 
	img {
		@extend .res-i;
	}

}
img.object-fit-js {
	height: 100%;
	width: 100%; 
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top; 
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

a:not(.btn){
	color: $body-color;
	&:hover{
		color: $primary;
		text-decoration: none;
	}
}

//btns
.btn{
	padding: 15px 39px;
	@include media-breakpoint-up(xl){
		padding: 15px 39px;
	}
}

.btn-dark-empty{
	@extend .btn;
	@extend .btn-dark;

	border: 1px solid $dark;
	color: $dark;
	background-color: transparent;
	&:hover{
		border: 1px solid $dark;
		color: $white!important;
		background-color: $dark;
	}

}

.btn-blured-frame{
	@extend .btn;
	@extend .btn-white;

	background: rgba(255, 255, 255, 0.07);
	border: 1px solid rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(25px);
	color: $white;

	&:hover{
		color: $body-color;
		text-shadow: 0 0 .8px rgba($body-color, .8);
		background: $white;
		border: 1px solid $white;
	}
}

//cont
.container{
	padding-left: 16px;
	padding-right: 16px;
	@include media-breakpoint-up(md){
		padding-left: 24px;
		padding-right: 24px;
	}
	@include media-breakpoint-up(lg){
		padding-left: 15px;
		padding-right: 15px;
	}
}

//headlines
h1, .h1{
	font-size: 30px;
	line-height: 0.97;
	@include media-breakpoint-up(xs){
		font-size: 44px;
		line-height: 0.97;
	}
	@include media-breakpoint-up(md){
		font-size: 48px;
		line-height: (50/48);
	}
	@include media-breakpoint-up(xl){
		font-size: 50px;
		line-height: (52/50);
	}
	@include media-breakpoint-up(xxl){
		font-size: 62px;
		line-height: (64/62);
	}
}

h2, .h2{
	font-weight: bold;
	font-size: 30px;
	line-height: (32/30);
	@include media-breakpoint-up(xxl){
		font-size: 34px;
		line-height: 1;
	}
}


//swiper frames

.swiper-pugin-frame{
	--puginColor: #{$white};

	display: flex;
	justify-content: center;
	align-items: center;
	.swiper-pagination-bullet{
		@include mt();
		width: 35px;
		border-radius: 0;
		background: transparent;
		height: 2px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid var(--puginColor);
		opacity: .35;
		@include media-breakpoint-up(md){
			opacity: .7;
		}

		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			background: transparent;
			z-index: -1;
			bottom: -15px;
			left: 0;
			width: 100%;
			height: 30px;
		}

		&-active{
			opacity: 1;
			border-top: 1px solid var(--puginColor);
		}
	}
}

.swiper-prev-next-frame{
	cursor: pointer;
	box-shadow: none!important;
	border: none!important;
	outline: none!important;

	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0, .3);
	backdrop-filter: blur(35px);

	display: flex;
	align-items: center;
	justify-content: center;

	@include mt();
	.icon{
		@include mt();
		font-size: 15px;
		color: rgba($white, .7);
	}

	&:hover{
		background-color: rgba(0,0,0, .45);
		.icon{
			color: $white;
		}
	}
}

//breadcrumb
 .breadcrumb-slider-js{
	 //margin-bottom: rem(34);
	 overflow: visible;
	 //wraper
	 .breadcrumb{
		 list-style: none;
		 flex-wrap: nowrap;
		 background-color: transparent;
		 padding: 0;
		 overflow: visible;
	 }

	 //swiper slide
	 .breadcrumb-item{
		 width: auto;

		 font-size: 14px;
		 line-height: 1.71;
		 display: flex;
		 align-items: center;

		 a{
			 color: $icon-gray!important;
			 &:hover{
				 color: $primary!important;
			 }
		 }

		 &:last-child{
			 & > *{
				 color: $body-color!important;
			 }
		 }

		 & + .breadcrumb-item{
			 padding: 0;
			 &:before{
				 content: '';
				 display: inline-block;
				 margin: 0 15px;
				 width: 3px;
				 height: 3px;
				 border-radius: 50%;
				 background-color: $body-color;
			 }
		 }
	 }

 }

.pagination-wrapper{
	//ul
	.page-numbers{
		display: flex;
		align-items: center;
		justify-content: center;

		list-style: none;
		padding: 0;
		margin: 0;

		li{
			//prev, next
			.page-numbers.prev,
			.page-numbers.next{
				&:after{
					content: none;
				}

				@include mt();

				border: 1px solid transparent;
				//border: 1px solid rgba($body-color, .1);
				&:hover{
					border: 1px solid rgba($body-color, .1);
				}

				width: 34px;
				height: 34px;
				@include media-breakpoint-up(sm){
					width: 50px;
					height: 50px;
				}

				//background-color: red!important;

				display: flex;
				align-items: center;
				justify-content: center;

				.icon{
					font-size: 15px;
					color: $body-color;
				}
			}
			.page-numbers.prev{
				margin-right: 2px;
				@include media-breakpoint-up(sm) {
					margin-right: 10px;
				}
				margin-left: 0!important;
			}
			.page-numbers.next{
				margin-right: 0!important;
				margin-left: 2px;
				@include media-breakpoint-up(sm){
					margin-left: 10px;
				}
			}

			margin: 0!important;
		}
		//inner
		.page-numbers{
			position: relative;
			display: block;
			line-height: 40px;

			margin: 0 9px;
			@include media-breakpoint-up(sm){
				margin: 0 12px;
			}

			font-weight: 300;
			font-size: 18px;
			min-width: 11px;

			width: auto;
			&.three-dot{
				//width: 16px;
				min-width: 16px;
				color: rgba($body-color, .35);
			}

			&.current{
				color: $primary;
				&:after{
					opacity: 1;
				}
			}

			&:after{
				@include mt();
				opacity: 0;
				content: '';
				position: absolute;
				top: calc(100% - 4px);
				left: -2.5px;
				width: calc(100% + 5px);
				height: 1px;
				background-color: $primary;
			}
		}

	}

}