.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bad {
	font-size:(20/10)*1rem;
	width:(26/20)*1em;
}
.icon-chveron-down {
	font-size:(7/10)*1rem;
	width:(12/7)*1em;
}
.icon-chveron-left {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-chveron-right {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-house {
	font-size:(21/10)*1rem;
	width:(22/21)*1em;
}
.icon-star {
	font-size:(20/10)*1rem;
	width:(22/20)*1em;
}
.icon-tel {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-tree {
	font-size:(22/10)*1rem;
	width:(20/22)*1em;
}
.icon-viber {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-whatsup {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
