mixin sGrayDescr(data)
	// start sGrayDescr
	+b.SECTION.sGrayDescr.section#sGrayDescr&attributes(attributes)
		.container
			+b.section-title
				h2 Описание поселка
				+e.btn(href="#") Подробнее о поселке
				//-
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh eu aliquet pellentesque vulputate cursus sed. Fames netus metus consectetur nulla egestas nibh. Quisque proin semper volutpat arcu turpis mauris sit urna, morbi. Diam justo, diam, pharetra ultrices accumsan. Eget bibendum mattis congue eu massa purus. Ut massa cursus lacinia vulputate
				+b.read-more.read-more-js
					p Porta varius aenean sodales facilisis praesent auctor. Amet ultrices phasellus arcu laoreet platea scelerisque iaculis consectetur tortor. Tristique volutpat id adipiscing porta feugiat volutpat faucibus. Pellentesque nam at a convallis laoreet. Tellus tincidunt libero sagittis tincidunt magna nec sed egestas. Tristique amet nisi ornare morbi nisl vel libero. Tristique aliquet eu at erat elit aliquam, adipiscing quam. Varius sagittis, tortor magna dapibus leo, arcu, id tortor vitae. Adipiscing egestas nunc nulla porta id diam erat.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh eu aliquet pellentesque vulputate cursus sed. Fames netus metus consectetur nulla egestas nibh. Quisque proin semper volutpat arcu turpis mauris sit urna, morbi.
				+b.read-more-btn.read-more-btn-js.d-md-none
					span Читать дальше
					img(src="img/svg/chveron-down-2.svg" alt="")
	// end sGrayDescr