extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBuySell/_sBuySell.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSeoArticle/_sSeoArticle.pug
include ../blocks/s404/_s404.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sWant/_sWant.pug
include ../blocks/sVillage/_sVillage.pug
include ../blocks/sGrayDescr/_sGrayDescr.pug
include ../blocks/sSettlements/_sSettlements.pug
include ../blocks/sHouses/_sHouses.pug

block variables
	- let  mainPage= null
block title
	- let  title= '03-houses'
	title= title
block pagecontent
	+header()
		+top-nav()
	.container
		br
		h2 Модалки
		br
		a.btn.btn-dark.link-modal(href="#modal-callback") modal-callback
		a.btn.btn-dark.link-modal(href="#modal-look") modal-look
		a.btn.btn-dark.link-modal(href="#modal-thanks") modal-thanks
		//a.btn.btn-dark.link-modal(href="#")
	+footer()