extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBuySell/_sBuySell.pug
include ../blocks/sDigits/_sDigits.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSeoArticle/_sSeoArticle.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+header()
		+top-nav()
	+headerBlock()
	+sBuySell()
	+sDigits()
	+sCatalog()
	+sSeoArticle()
	+footer()