mixin sSeoArticle(data)
	// start sSeoArticle
	+b.SECTION.sSeoArticle.section#sSeoArticle&attributes(attributes)
		.container
			+e.cont
				+b.section-title
					h2 Здесь какой-то seo заголовок
					p Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus.
					p In sem fames fermentum convallis donec consequat, molestie sagittis, sollicitudin. Facilisi nibh mauris gravida sed urna placerat sit ut quis. Natoque etiam placerat integer potenti suspendisse at.
				+e.img-cont
					+pic('seo-article-img.jpg')(class="sSeoArticle__img")
	// end sSeoArticle