.top-nav {
	position: fixed;
	z-index: 1000;
	background-color: $body-bg;
	top: 0;
	left: 0;
	width: 100%;

	//box-shadow: 0 0 0px 1px rgba($body-color, .1);
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba($body-color, .1);
	}
	//background: pink;

	height: 70px;
	padding-bottom: 1px;
	@include media-breakpoint-up(md){
		height: 82px;
	}

	&__container{
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__logo{
		width: 120px;
		margin-right: 30px;
		@include media-breakpoint-up(md){
			width: 110px;
			margin-right: 42px;
		}
		@include media-breakpoint-up(lg){
			width: 120px;
			margin-right: 50px;
		}
		@include media-breakpoint-up(xxl){
			margin-right: 90px;
			width: 150px;
		}

		img{
			width: 100%;
			height: auto;
		}
	}
	//menu
	.navMenu{
		@include mt();

		left: -120vw;
		&.active{
			left: 0;
		}

		@include media-breakpoint-down(md){
			margin: 0;
			padding: 55px 0;
			overflow-y: auto;
		}

		display: block;
		position: absolute;
		top: 70px;
		width: 100%;
		height: calc(100vh - 70px);
		background-color: $body-color;
		@include media-breakpoint-up(md){
			align-self: stretch;
			position: static;
			top: unset;
			left: unset!important;
			display: flex;
			width: auto;
			height: auto;
			background-color: transparent;
		}

		flex-wrap: nowrap;
		align-items: center;

		@include media-breakpoint-up(md){
			margin-right: 24px;//?%
		}
		@include media-breakpoint-up(lg){
			margin-right: 35px;//?%
		}
		@include media-breakpoint-up(xxl){
			margin-right: 53px;//?%
		}

		&__item{
			position: static;
			padding: 0;

			@include media-breakpoint-down(md){
				max-width: 540px;
				margin-bottom: 20px;
				margin-left: auto!important;
				margin-right: auto!important;
			}
			@include media-breakpoint-up(md){
				margin-right: 28px;//?%
				//box-shadow: 0 0 0 1px red!important;
				padding: 13px 0;
				height: 100%;
			}
			@include media-breakpoint-up(lg){
				margin-right: 35px;//?%
			}
			@include media-breakpoint-up(xxl){
				margin-right: 55px;//?%
			}
			&:last-child{
				margin-right: 0;//?%
			}

			//
			&:hover{
				.submenu{
					@include media-breakpoint-up(md){
						opacity: 1;
						visibility: visible;
						z-index: 900;
					}
				}
			}
		}
		&__link{
			@include media-breakpoint-down(md){
				padding-left: 16px;
				padding-right: 16px;

				opacity: .8;
				&:active, &.active{
					opacity: 1;
				}

			}

			text-align: left;
			padding: 0;
			font-size: 16px;
			line-height: 40px;

			color: $white!important;
			@include media-breakpoint-up(md){
				color: $body-color!important;
				display: block;
				height: 100%;
				line-height: 55px;

				&:hover{
					color: $primary!important;
				}
				&:active{
					color: $body-color!important;
				}
			}
			&.active{
				@include media-breakpoint-up(md){
					color: $primary!important;
				}
				&:after{
					transform: rotate(90deg);
				}

			}

			&.has-sub-js{
				@include media-breakpoint-down(md){
					display: inline-flex;
					align-items: center;
					&:after{
						content: '';
					}
				}
			}


			&:after{
				@include mt();
				margin-left: 10px;
				width: 10px;
				height: 10px;
				background-image: url(../img/svg/chevron-right.svg);
				background-repeat: no-repeat;
				background-position: center;
			}


		}

		//chosen btn
		&__chosen-btn{
			display: flex;
			align-items: center;
			padding: 0 16px;
			color: $white!important;
			margin-bottom: rem(35);

			.icon{
				position: relative;
				top: -1.5px;
				@include mt();
				font-size: 22px;
				margin-right: 10px;

				color: transparent!important;
				stroke: $white;
				opacity: .65;
			}
			span{
				@include mt();
				opacity: .8;
			}

			&:active{
				span{
					opacity: 1;
				}
			}

		}
	}

	&__chosen-btn{
		display: flex;
		align-items: center;

		.icon{
			position: relative;
			top: -1.5px;
			@include mt();
			font-size: 22px;
			margin-right: 10px;

			color: transparent!important;
			stroke: rgba($body-color, .25);
		}
		&:hover{
			.icon{
				color: $primary;
				stroke: $primary;
			}
		}
		&:active{
			.icon{
				stroke: $body-color;
			}
			span{
				color: $body-color;
			}

		}

	}
	&__num-link{
		margin-right: 30px;
		margin-left: auto;
	}
	&__callback-btn{
		@extend .btn-dark-empty;

		margin-right: 25px;
		@include media-breakpoint-up(md){
			margin-right: 0;
		}

		@include media-breakpoint-down(xl){
			&:focus{
				color: $white!important;
				background: $body-color!important;
			}
		}

		@include media-breakpoint-down(xl){
			margin-left: auto;
			width: 45px;
			height: 45px;
			padding: 0;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		.icon{
			font-size: 22px;

			@include media-breakpoint-up(xl){
				display: none;
			}
		}

		span{
			display: none;
			@include media-breakpoint-up(xl){
				display: inline;
			}
		}
	}
	//burger
	&__burger{
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		position: relative;

		&:before,
		&:after{
			@include mt();
			content: '';
			height: 1px;
			background-color: $body-color;
			position: absolute;
			right: 0;
		}

		&:before{
			width: 30px;
			top: 6px;
		}
		&:after{
			width: 21px;
			top: 20px;
		}

		&.active{
			&:before,
			&:after{
				top: 50%;
				right: 50%;
				width: 32px;
			}
			&:before{
				transform: translateX(50%) translateY(-50%) rotate(45deg);
			}
			&:after{
				transform: translateX(50%) translateY(-50%) rotate(-45deg);
			}

		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

}

.submenu{
	display: none;
	&.active{
		display: block;
	}

	@include media-breakpoint-up(md){
		display: block!important;
		@include mt();
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		//transform: scale(0);
		transform-origin: 0 0;
	}


	border-top: 1px solid rgba($body-color, .1);
	padding: 30px 0 5px 0;
	@include media-breakpoint-up(md){
		top: 81px;
		position: absolute;
		left: 0;
		width: 100%;
		background-color: $white;
		box-shadow: 0 10px 10px -10px rgba($body-color, .2);
		padding: 36px 0 5px 0;
	}

	&__row{
		display: flex;
	}
	&__col{
		display: block;
		margin-bottom: 15px;
	}
	&__item{
		display: block;

		@include media-breakpoint-down(md){
			color: $white!important;
		}

		&:active{
			color: $body-color!important;
		}
	}
	&__img{
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding-top: (135/300) * 100%;
		margin-bottom: 10px;
		overflow: hidden;

		//&:hover{
		//	filter: brightness(.95);
		//	img{
		//		transform: scale(1.1);
		//	}
		//}

		img{
			@include mt();
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__txt{
		display: block;
	}
	//
	&__{}
	&__{}
}