//- breadcrumb
mixin breadcrumb(...items)
	nav(aria-label="breadcrumb" ).breadcrumb-slider-js.swiper-container
		ol.breadcrumb.swiper-wrapper(itemscope itemtype="http://schema.org/BreadcrumbList")
			-for (var i = 0; i < items.length; i++)
					li.breadcrumb-item.swiper-slide( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
						a(href=(i == 0 ? "/" : '#') itemprop="item" )= items[i]