mixin mnu()
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")&attributes(attributes)
		+e.LI.item.d-md-none( itemprop="item" )
			+e.chosen-btn.d-md-none(href="#")
				+icon('star')
				span Избранное
		+e.LI.item( itemprop="item" )
			+e.A.link.has-sub-js(href="#"  itemprop="url") Продажа
			+subMnu()
		+e.LI.item( itemprop="item" )
			+e.A.link.has-sub-js(href="#"  itemprop="url") Аренда
			+subMnu()
		+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") Поселки
		+e.LI.item( itemprop="item" ): +e.A.link(href="#"  itemprop="url") О компании

mixin subMnu()
	+b.submenu--js
		+e.container.container
			+e.row.row
				+subMnuItem(1, 'Дома на продажу')
				+subMnuItem(2, 'Таунхаусы  на продажу')
				+subMnuItem(3, 'Участки на продажу')
				+subMnuItem(4, 'Специальные предложения')

mixin subMnuItem(imgNum, txt)
	+e.col.col-12.col-sm-6.col-md-3
		+e.item(href="#")
			+e.img
				img(loading="lazy" src=`img/@2x/submenu-${imgNum}.jpg` alt="")
			+e.txt=txt