//- pugination
mixin pugin()
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')= n 
					else
						block
			+li()
				span.prev.page-numbers( )
					+icon('chveron-left')
					//-img(src="img/svg/prev.svg", alt="")
			+li(1)
			+li(2)
			+li()
				span.page-numbers.current  3
			+li(4)
			+li(5)
			+li()
				span.page-numbers.three-dot ...
			+li(25)
			+li()
				a.next.page-numbers(href='#')
					+icon('chveron-right')